<section>
  <h3>Umsatzentwicklung</h3>
  <p>Monatliche Umsätze in Tsd €</p>

  <div style="height:300px; background:#eee;">
    <canvas id="testCanvas"></canvas>
  </div>

  <script is:inline>
    console.log("SCRIPT GELADEN");

    const canvas = document.getElementById("testCanvas");
    console.log("Canvas:", canvas);

    if (canvas) {
      const ctx = canvas.getContext("2d");
      ctx.fillStyle = "red";
      ctx.fillRect(10, 10, 200, 100);
    }
  </script>
</section>