---
import Layout from '~/layouts/Layout.astro';
import { useTranslations, getLangFromUrl } from '~/i18n/utils';
import { getHomePermalink } from '~/utils/permalinks';
import { getHeaderData, getFooterData } from '~/navigation';

// 2️⃣ Sprache & Übersetzungen
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Header/FooterF
const headerData = getHeaderData(lang);
const footerData = getFooterData(lang);

const title = `Error 404`;
---
<Layout lang={lang} metadata={{ title }} headerData={headerData} footerData={footerData}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Error</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">{t('404.message')}</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          {t('404.suggestion')}
        </p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">Back to homepage</a>
      </div>
    </div>
  </section>
</Layout>
