<div class="flex gap-4">
<svg xmlns="http://www.w3.org/2000/svg"
  viewBox="344.5639 330.2782 111.7368 91.218"
  width="53.87"
  height="43.61"
>

  <defs>
    <linearGradient id="g1" x1="420.97" y1="331.28" x2="420.97" y2="418.5" gradientUnits="userSpaceOnUse">
      <stop offset="0%" stop-color="#06b6d4"/>
      <stop offset="100%" stop-color="#67e8f9"/>
    </linearGradient>

    <linearGradient id="g2" x1="377.89" y1="331.28" x2="377.89" y2="418.5" gradientUnits="userSpaceOnUse">
      <stop offset="0%" stop-color="#06b6d4"/>
      <stop offset="100%" stop-color="#67e8f9"/>
    </linearGradient>

    <path id="p1"
      d="M453.3 331.28v28.57l-64.66 58.65v-30.08z"/>

    <path id="p2"
      d="M410.23 331.28v28.57l-64.67 58.65v-30.08z"/>
  </defs>

  <use href="#p1" fill="url(#g1)"/>
  <use href="#p2" fill="url(#g2)"/>
</svg>
<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
AmendLogic
</span>
</div>