---
import { Icon } from 'astro-icon/components';
---
<button
  type="button"
  aria-label="Toggle theme"
  class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5 inline-flex items-center"
  data-theme-toggle
>
  <span data-icon="system">
    <Icon name="tabler:device-desktop" class="w-6 h-6" />
  </span>
  <span data-icon="light">
    <Icon name="tabler:sun" class="w-6 h-6" />
  </span>
  <span data-icon="dark">
    <Icon name="tabler:moon" class="w-6 h-6" />
  </span>
</button>