---
import { Icon } from 'astro-icon/components';
import { UI } from 'astrowind:config';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
}

const {
  label = 'Toggle theme',
  class:
    className = 'text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5 inline-flex items-center',
  iconClass = 'w-6 h-6',
} = Astro.props;
---

{
  !(UI.theme && UI.theme.endsWith(':only')) && (
    <button
      type="button"
      class={className}
      aria-label={label}
      data-aw-theme-toggle
      data-theme="system"
    >
      <Icon
        name="tabler:device-desktop"
        class={iconClass}
        data-aw-theme-icon
      />
    </button>
  )
}

<script is:inline>
  const order = ['system', 'light', 'dark'];

  const icons = {
    system: 'tabler:device-desktop',
    light: 'tabler:sun',
    dark: 'tabler:moon',
  };

  document.querySelectorAll('[data-aw-theme-toggle]').forEach((btn) => {
    const icon = btn.querySelector('[data-aw-theme-icon]');

    let theme = localStorage.theme || 'system';
    btn.dataset.theme = theme;
    icon.setAttribute('name', icons[theme]);

    btn.addEventListener('click', () => {
      theme = order[(order.indexOf(theme) + 1) % order.length];
      localStorage.theme = theme;
      btn.dataset.theme = theme;

      document.documentElement.classList.toggle(
        'dark',
        theme === 'dark' ||
          (theme === 'system' &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
      );

      icon.setAttribute('name', icons[theme]);
    });
  });
</script>

