---
import { Icon } from 'astro-icon/components';

export interface Props {
  class?: string;
  label?: string;
}

const {
  class: className = 'text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center',
  label = 'Toggle Theme: System → Light → Dark',
} = Astro.props;

// Icons für 3 State
const ICONS = {
  system: 'tabler:smart-home',
  light: 'tabler:sun',
  dark: 'tabler:moon',
};

function getCurrentIcon() {
  const theme = localStorage.theme || 'system';
  return ICONS[theme] || ICONS.system;
}
---

<button type="button" class={className} aria-label={label} data-aw-toggle-color-scheme>
  <Icon name={getCurrentIcon()} class="w-6 h-6" data-theme />
</button>