---
import { Icon } from 'astro-icon/components';
import { UI } from 'astrowind:config';


const states = ["system", "light", "dark"];

function getNext(state) {
  const i = states.indexOf(state);
  return states[(i + 1) % states.length];
}
---

<button
  type="button"
  class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 
         focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 
         rounded-lg text-sm p-2.5 inline-flex items-center"
  aria-label="Toggle color mode"
  data-aw-toggle-color-scheme
  on:click={() => {
    const current = localStorage.getItem('theme') || 'system';
    const next = getNext(current);
    localStorage.setItem('theme', next);
    window.dispatchEvent(new CustomEvent('theme-change', { detail: next }));
  }}
>
  <Icon name="tabler:sun" class="w-6 h-6" />
</button>

<script>
  const icon = document.querySelector('[data-aw-toggle-color-scheme] svg');

  function updateIcon(theme) {
    if (theme === 'system') icon.setAttribute('name', 'tabler:device-desktop');
    if (theme === 'light') icon.setAttribute('name', 'tabler:sun');
    if (theme === 'dark') icon.setAttribute('name', 'tabler:moon');
  }

  const saved = localStorage.getItem('theme') || 'system';
  updateIcon(saved);

  window.addEventListener('theme-change', (e) => {
    updateIcon(e.detail);
  });
</script>
