import { Icon } from 'astro-icon/components';
---

<div
  class="cursor-pointer text-muted hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5 inline-flex items-center"
  aria-label="Toggle theme"
  data-aw-theme-switcher
>
  <Icon name="tabler:device-desktop" class="w-6 h-6" data-aw-theme-icon="system" />
  <Icon name="tabler:sun" class="w-6 h-6 hidden" data-aw-theme-icon="light" />
  <Icon name="tabler:moon" class="w-6 h-6 hidden" data-aw-theme-icon="dark" />
</div>