---
import { Icon } from 'astro-icon/components';
import { UI } from 'astrowind:config';
---

{
  !(UI.theme && UI.theme.endsWith(':only')) && (
    <button
      type="button"
      class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
      aria-label="Toggle theme"
      data-aw-toggle-color-scheme
      client:load
    >
      <Icon name="tabler:device-desktop" class="w-6 h-6" />
    </button>
  )
}