---
interface Props {
  id: string;
  number: number;
  class?: string;
}

const { id, number, class: className = '' } = Astro.props;
---

<a
  href={`#${id}`}
  aria-describedby={id}
  class={`ml-1 text-[0.7em] align-super hover:opacity-70 transition ${className}`}
>
  {number}
</a>
