---
interface Props {
  id: string;
  number: number;
  class?: string;
}

const { id, number, class: className = '' } = Astro.props;
---

<a
  href={`#${id}`}
  aria-label={`Footnote ${number}`}
  class={`ml-1 text-xs no-underline hover:underline ${className}`}
>
  <sup class="align-super">{number}</sup>
</a>
