---
import { registerFootnote } from '~/utils/footnoteRegistry';

interface Props {
  type: string;
  class?: string;
}

const { type, class: className = '' } = Astro.props;

const number = registerFootnote(type);
---

<a
  href={`#footnote-${type}`}
  aria-label={`Footnote ${number}`}
  class={`text-xs text-gray-500 dark:text-gray-400 opacity-50 align-super hover:underline ${className}`}
>
  {number}
</a>
