---
interface Props {
  id: string;
  number: number;
  class?: string;
}

const { id, number, class: className = '' } = Astro.props;
---

<a
  href={`#${id}`}
  aria-describedby={id}
  class={`text-xs align-super hover:underline transition ${className}`}
>
  {number}
</a>
